.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Aligne les items par leur centre */
}

.partner-logo {
    width: 150px;
    height: 150px; /* Fixe une hauteur pour un alignement précis */
    display: inline-block;
    object-fit: contain; /* Garde les proportions des logos */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.modal-content {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer le contenu de la modal */
}

.modal-title {
	font-family: "Title";
	text-align: center;
	color: #E3BB64;
	font-size: 2rem;
    margin: 0 auto; /* Centrer le titre horizontalement */
}
/* Modal taille personnalisée */
.modal-custom {
    max-width: 90%; /* Largeur principale */
}

.btn-close {
    position: absolute; /* Permet de positionner le bouton en fonction du parent */
    top: 35px; /* Ajustez l'espace par rapport au haut */
    right: 35px; /* Ajustez l'espace par rapport à la droite */
    background-color: rgba(0, 0, 0, 0.2);
    color: white; /* Couleur de l'icône de fermeture */
    border: none;
    cursor: pointer;
    padding: 7px 13px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-close::before {
    content: '\00d7'; /* Code du caractère '×' (croix) */
    font-size: 16px;
    color: white; /* Couleur de la croix */
}

.btn-close:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 768px) {
    .modal-custom {
        max-width: 90%; /* Ajustement pour tablettes */
    }
	.btn-close {
		top: 10px; /* Ajustez l'espace par rapport au haut */
    	right: 10px; /* Ajustez l'espace par rapport à la droite */
	}
}

@media (max-width: 576px) {
    .modal-custom {
        max-width: 95%; /* Ajustement pour smartphones */
    }
}

