/*-- Ici se trouvent des propriétés qui concernent toute la page --*/

@font-face 
{
    font-family: "Title";
    src: url("../fonts/Brand.ttf");
}


body
{
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex:1;
    margin-top: 5.648438rem; /* Décalage égal à la hauteur du header */
	font-family: "garamond";
	background-color: white;
}


.titre h2 {
	font-family: "Title";
	text-align: center;
	color: #E3BB64;
	font-size: 2rem;
	margin-top: 30px;
    margin-bottom: 0px;
	margin-left:10vw;
	margin-right:10vW;
}

.texte
{
    font-family: "Garamond", serif;
    font-size: 1.2rem;
    line-height: 1.6;
	width: 80vw; 
	position: relative; 
	left: 10vw;
	overflow-x: hidden;
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
	color: #666666
}

@media (max-width: 992px) {
	.texte
	{
		width: 80vw;
		left: 10vw;	
	}
}

.texte h4
{	
	margin-bottom: 20px;
	font-size: 24px;
	text-decoration: underline #6A0D00;
}

.texte p
{
	text-align: justify;
}