/* Variables pour les breakpoints */
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* Galerie */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
}

.gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Modal */
.modal {
    position: fixed;
    top: 5.773438rem; /* Décale le modal vers le bas */
    left: 0;
    width: 100%;
    height: calc(100%-5.773438em); /* Ajuste la hauteur en conséquence */
    overflow-y: auto; /* Permet de défiler si le contenu déborde */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
    object-fit: contain; /* Conserve le ratio d'aspect */
    margin-top: 3%; /* Distance depuis le haut */
    background-color: transparent;
	border : none;
    padding: 0; /* Supprime tout espace interne */
}

/* Conteneur des boutons dans le modal */
.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espace entre les boutons */
    position: absolute;
    bottom: 20px; /* Place les boutons en bas */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

/* Boutons */
.close, .nav-btn, .download-btn {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}


.nav-btn:hover, .download-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsivité */
@media (max-width: var(--breakpoint-md)) {
    .gallery img {
        max-width: 150px;
    }
}

@media (max-width: var(--breakpoint-sm)) {
    .gallery img {
        max-width: 100px;
    }

    .close, .nav-btn, .download-btn {
        font-size: 16px;
        padding: 8px;
    }
}