/*-- Ici se trouvent des propriétés qui ne concernent que le mot d'accueil --*/


.motDAccueil h2
{
	width: 80vw; 
	position: relative; 
	left: 10vw;
	overflow-x: hidden;
	font-family: "Title";
	text-align: center;
	color: #E3BB64;
	font-size: 2rem;
	margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
	.motEquipe
	{
		width: 80vw;
		left: 10vw;
		font-size: 25px;	
	}
}


.motDAccueil p
{
	margin-top:30px;
	color: #E3BB64;
	font-size: 1.5rem;
	font-family: "garamond";
	text-align: right;
}