/* Bords arrondis pour les images */
.rounded-image {
	margin-top:30px;
    border-radius: 15px;
    max-width: 100%; /* S'assure que les images ne débordent pas */
	max-height: 300px;
    height: auto; /* Maintient le ratio d'aspect */
}

/* Espacement entre les images */
.image-spacing {
    margin-left: 5%; /* Ajustez cet espace */
    margin-right: 5%; /* Ajustez cet espace */
}

/* Limite la hauteur des images dans le carrousel */
.carousel .carousel-inner img {
    max-height: 400px; /* Ajustez si nécessaire */
    object-fit: cover;
}