/*-- Ici se trouvent des propriétés qui ne concernent que la navbar --*/


.navbar .container
{
	height: 5.648438rem;
	font-size: 18px;
}

/*-- FIN GESTION DE L'OMBRE --*/



/*-- GESTION ENCADRÉ BILLETTERIE --*/

.encadreBilletterie
{
	border: solid 2px #666666;
}

@media (max-width: 992px) {
	.encadreBilletterie
	{
		text-indent: 5px;
	}
}

.encadreBilletterie:hover
{
	border-color: #D9B26F;
}

/*-- FIN GESTION ENCADRÉ BILLETTERIE --*/

/*-- GESTION IMAGE DANS LA NAVBAR --*/

.bg-primary
{
	background-color: white;
	border-bottom: 2px solid #939393;
}

/*
.imageFond
{
	background: url(../images/Patterns_ESPCI.png);
	background-size: 50%;
	
}
*/

.nav-item
{
	font-family:'Arial',Helvetica,Arial,Lucida,sans-serif;
	text-align: center;
	color: #E3BB64;
}

@media (min-width: 992px) {
	.nav-item
	{
		padding: 15px;
	}
}

@media (max-width: 992px) {
	.navbar-brand img
	{
		margin-left:10px;;
	}
}

.navbar-brand img
{
	max-width: 115px;
	width:calc(100vw - 5rem);
	height:5.648438rem;
	mix-blend-mode: lighten;
}

.navbar-nav {
    margin-left: auto; /* Centre les titres en décalant leur point de départ */
}